# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Itlogia\4 блок. Библиотеки и плагины\Знакомство с jQuery. Урок 34\Домашняя работа\js\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
