# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Itlogia\3 блок. JS\Взаимодействие со страницей. DOM, WINDOW, DOCUMENT. Урок 30\Домашняя работа\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
